<div data-view="editor-modal" (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none' }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          <span>{{ isEdition? 'Edit': 'Add'}}</span>
        </h3>    
      </div>
      <div class="modal-body">

        <form name="frmNodeEditor" class="form-horizontal">
          <div class="form-group">
            <label for="txt-node-name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input name="nameNode" type="text" class="form-control" id="txt-node-name" placeholder="Type the node name or it will be set by default"
              [maxLength]="30" [(ngModel)]="viewModel.name">
            </div>
          </div>
          <div  *ngIf="!isEdition" class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input name="isRootCheck" type="checkbox" 
                  [(ngModel)]="viewModel.isRootNode"> Add to root of the treeview ?
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">

      <button type="button" class="btn btn-danger"(click)="hide()">Close</button>
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      
      </div>


    </div>
  </div>
</div>