<div data-view="treeview">

	<div class="col-sm-12 col-md-12 col-lg-12">

		<h4>Tree Node Actions</h4>

		<div class="btn-group" role="group" aria-label="Crud Actions">
			<button type="button" class="btn btn-default"
			 (click)="myEditorModal.show(false)">Add  
				<i class="glyphicon glyphicon-plus"></i>
			</button>

			<button type="button" class="btn btn-primary"
			 (click)="myEditorModal.show(true)" 
			 [disabled]="(!lastSltedNode) || (NodesList.length === 0)">Edit  
				<i class="glyphicon glyphicon-pencil"></i>
			</button>

			<button type="button" class="btn btn-danger"
			  (click)="removeNode()" 
			  [disabled]="(!lastSltedNode) || (NodesList.length === 0)">Delete  
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</div>

		<div class="btn-group pull-right" role="group" aria-label="Save All">
			<button type="button" class="btn btn-success"
			 (click)="saveAll()"
			 [disabled]="(actionsList.length === 0)">Save All  
				<i class="glyphicon glyphicon-floppy-disk"></i>
			</button>
		</div>

	</div>

	<div class="col-sm-12 col-md-12 col-lg-12">

		<div [hidden]="NodesList.length === 0" class="tree-wrapper">
			<tree-root
				[nodes]="NodesList"
				(activate)="onTreeNodeActived($event)">
			</tree-root>
		</div>

	</div>

	<div class="col-sm-12 col-md-12 col-lg-12">

		<div class="btn-group" role="group" aria-label="Collapse All">
			<button type="button" class="btn btn-default"
			[hidden]="(NodesList.length === 0)">Expand All</button>
		</div>

		<div class="btn-group" role="group" aria-label="Expand All">
			<button type="button" class="btn btn-default"
			[hidden]="(NodesList.length === 0)">Collapse All</button>
		</div>

	</div>

	<app-editor-modal 
	#myEditorModal [lastSltedNode]="lastSltedNode || {}" 
	(evtOnEditionSave)="handleNewNodeEdition($event)"></app-editor-modal>

</div>
